@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px){
    .container {
        max-width: 540px;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
        padding-top: 10px;
        &__header{
            justify-content: space-around;
        }
        a{
            line-height: 10px;
        }
        h1{
            margin-top: 100px;
            line-height: 100px;
            font-size: 40px;
        }
        .run{
            font-size: 22px;
        }
    }
}